dist
.DS_Store
.gradle/
.idea/
build/
!build-logic/src/main/java/io/micronaut/build
classes/
out/
*.db
*.log
*.iml
.classpath
.factorypath
bin/
.settings/
.project
*/test/
*/META-INF/
*.ipr
*.iws
.kotlintest
*/.kotlintest/
application-dev.yml
