dist
.DS_Store
.gradle/
node_modules
.idea/
build/
!build-logic/src/main/java/io/micronaut/build
classes/
out/
*.db
*.log
*.iml
.classpath
.factorypath
bin/
.settings/
.project
*/META-INF/
*.ipr
*.iws
.kotlintest
*/.kotlintest/
application-dev.yml
*.env.js
cypress/videos/*
.vscode